

.rightdiv
{
    width: 464px;
    height: 319px;
    float: right;
    border: 3px dotted blue;
}

.leftdiv
{
    width: 465px;
    height: 319px;
    float: left;
    border: 3px dotted red;
}

#title_0
{
    border: 3px dotted black;
    position: inherit;
    font-style: italic;
}

#course
{
 
    border: 3px dotted green;
    text-align: center;
}

table 
{ 
   border-collapse: collapse; 

}

tr 
   { 
     border: none; 

   }

ctd 
{
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
}
.td3
{
  border-left: solid 1px #f00;
  text-align: center;
}

.td2_t 
{
  border-left: solid 1px #f00;
  text-align: center;
  white-space: nowrap;
}
.td1_t 
{
  
  
}

.td3_t
{
  border-left: solid 1px #f00;
  text-align: center;
}

.td2 
{
  border-left: solid 1px #f00;
}
.td1 
{
  
}




























