

.rightdiv
{
    width: 419px;
    height: 319px;
    float: right;
    border: 3px dotted blue;
}

.leftdiv
{
    width: 503px;
    height: 583px;
    float: left;
    border: 3px dotted red;
}

#title_0
{
    border: 3px dotted black;
    position: inherit;
    font-style: italic;
}

#course
{
    border: 3px dotted green;
    text-align: center;
}

table
{
    border-collapse: collapse;
}

tr
{
    border: none;
}

.td1_t
{
    text-align: center;
}

.td2_t
{
    border-left: solid 1px #f00;
    text-align: center;
    white-space: nowrap;
    padding-left: 31px;
    padding-right: 31px;
}

.td3_t
{
    text-align: center;
    border-left: solid 1px #f00;
}

/*   Bottom */

.td1_B
{
    padding-left: 11px;
    white-space: nowrap;
    padding-right: 11px;
}

.td2_B
{
    border-left: solid 1px #f00;
    text-align: center;
    padding-left: 31px;
    padding-right: 31px;
}

.td3_B
{
    border-left: solid 1px #f00;
    text-align: center;
    padding-left: 12px;
}

.second
{
    border: 3px dotted black;
    height: 84px;
    margin-left: 521px;
}

.bottom
{
    border: 3px dotted yellow;
    height: 175px;
    margin-left: 520px;
    margin-top: 324px;
}


.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background:#2c3e50;
	border-bottom: 5px #e67e22 solid;
}

.tabs li{
	display: inline-block;
	margin:0;
	padding: 10px 20px 5px 20px;
	cursor: pointer;
		
	font-size:1.2em;
	line-height:2em;
	color:#FFF;
}

.tabs li:hover {
	background:#d35400;
	}

.tabs li.current{
	background: #e67e22;
	color: #FFF;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
			
	line-height:1.4;
}

.tab-content.current{
	display: inherit;
}

