

.rightdiv
{
    width: 464px;
    height: 319px;
    float: right;
    border: 3px dotted blue;
}

.leftdiv
{
    width: 465px;
    height: 319px;
    float: left;
    border: 3px dotted red;
}

#title_0
{
      border: 3px dotted black;




}

