

.rightdiv
{
    width: 368px;
    height: 319px;
    float: right;
}

.leftdiv
{
    width: 368px;
    height: 319px;
    float: left;
}
.text
{

    
    float: left;
    border: red 3px solid;
    position: absolute;
    right: 0;
  
   

}

