.rightdiv
{
    
    width: 340px;
    max-width: 103px;
    height: 185px;
    max-height: 236px;
    float: right;
    
    
    
}

.leftdiv
{
    width: 340px;
    max-width: 103px;
    height: 185px;
    max-height: 236px;
    float: left;
    
}

