
/*start web fonts*/
@font-face{
	font-family:'DINWebRegular';
	src:url(../fonts/DINWeb.eot);
	src: url(../fonts/DINWeb.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/DINWeb.woff) format('woff'),
	url(../fonts/dinpro-regular-webfont.ttf) format('truetype'),
	url(../fonts/dinpro-regular-webfont.svg#webfontvugT94qN) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'DINWebLight';
	src:url(../fonts/DINWeb-Light.eot);
	src: url(../fonts/DINWeb-Light.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/DINWeb-Light.woff) format('woff'),
	url(../fonts/dinpro-light-webfont.ttf) format('truetype'),
	url(../fonts/dinpro-light-webfont.svg#webfontaaHewQlQ) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'DINWebBold';
	src:url(../fonts/DINWeb-Bold.eot);
	src: url(../fonts/DINWeb-Bold.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/DINWeb-Bold.woff) format('woff'),
	url(../fonts/dinpro-bold-webfont.ttf) format('truetype'),
	url(../fonts/dinpro-bold-webfont.svg#webfontOQQc9qcQ) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'FrutWebUltBold';
	src:url(../fonts/FrutigerLTStd-UltraBlack.eot);
	src: url(../fonts/FrutigerLTStd-UltraBlack.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-UltraBlack.woff) format('woff'),
	url(../fonts/FrutigerLTStd-UltraBlack.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-UltraBlack.svg) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'FrutWebBold';
	src:url(../fonts/FrutigerLTStd-Bold.eot);
	src: url(../fonts/FrutigerLTStd-Bold.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Bold.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Bold.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Bold.svg) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'FrutWebReg';
	src:url(../fonts/FrutigerLTStd-Roman.eot);
	src: url(../fonts/FrutigerLTStd-Roman.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Roman.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Roman.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Roman.svg) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'FrutWebLight';
	src:url(../fonts/FrutigerLTStd-Light.eot);
	src: url(../fonts/FrutigerLTStd-Light.eot?#iefix)  format('embedded-opentype'),
	url(../fonts/FrutigerLTStd-Light.woff) format('woff'),
	url(../fonts/FrutigerLTStd-Light.ttf) format('truetype'),
	url(../fonts/FrutigerLTStd-Light.svg) format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face{
	font-family:'ubcms';
	src:url(../fonts/ubcms.eot);
	src:url(../fonts/ubcms.eot?#iefix) format('embedded-opentype'),
	url(../fonts/ubcms.woff) format('woff'),
	url(../fonts/ubcms.ttf) format('truetype'),
	url(../fonts/ubcms.svg) format('svg');
	font-weight:normal;
	font-style:normal
}
[class$="IconMd"]{
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1em;
	line-height: 1em;
	cursor: pointer;
	background-color: transparent;
	margin-left: .1em;
	margin-right: .1em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*

Light UB Blue #809DC4
Light Indigo #875FAA
Light Red #EF8860
Light Orange #EF8860
Light Gold #F7C077
Light Green #50AD78
Light Blue #f16521
Light Gray #C4C5C6
UB Blue #2A348C
Indigo #652C90
Red #C62430
Orange #F16521
Gold #FCA712
Green #009344
Blue #1B75BB
Gray #888A8C

*/
.alertIcon:before,.alertIconMd:before {
	content: "\e600";
	color: #C62430;
}
.atIcon:before {
	content: "\e601";
}
.bracketIcon:before {
	content: "\e602";
}
.bubbleIcon:before,.bubbleIconLg:before {
	content: "\e603";
	color: #888A8C;
}
.captureIcon:before {
	content: "\e604";
}
.checkIcon:before, .checkIconLg:before  {
	content: "\e605";
	color: green;
}
.closeBoxIcon:before {
	content: "\e606";
}
.closeIcon:before {
	content: "\e607";
}
.codeIcon:before {
	content: "\e608";
	color: #666666;
}
.commentIcon:before {
	content: "\e609";
	color: #666666;
}
.editIcon:before,.editIconLg:before {
	content: "\e60a";
	color: #58ACFA;
}
.filmIcon:before {
	content: "\e60b";
}
.findIcon:before {
	content: "\e60c";
}
.hashIcon:before, .hashIconLg:before {
	content: "\e60d";
}
.helpIcon:before,.helpIconLg:before{
	content: "\e60e";
	color: #58ACFA;
	background-color: transparent;
}
.imageIcon:before {
	content: "\e60f";
}
.minusIcon:before, .minusIconLg:before {
	content: "\e610";
	color: #58ACFA;
}
.noteIcon:before {
	content: "\e611";
}
.notIcon:before, .notIconLg:before {
	content: "\e612";
	color: #888A8C;
}
.numEightIcon:before {
	content: "\e613";
	color: #58ACFA;
}
.numFiveIcon:before {
	content: "\e614";
	color: #58ACFA;
}
.numFourIcon:before,.numFourIconLg:before {
	content: "\e615";
	color: #009344;
	background-color: transparent;
}
.numNineIcon:before {
	content: "\e616";
	color: #58ACFA;
}
.numOneIcon:before,.numOneIconLg:before {
	content: "\e617";
	color: #FCA712;
}
.numSevenIcon:before {
	content: "\e618";
	color: #58ACFA;
}
.numSixIcon:before {
	content: "\e619";
	color: #58ACFA;
}
.numThreeIcon:before,.numThreeIconLg:before {
	content: "\e61a";
	color: #1B75BB;
}
.numTwoIcon:before,.numTwoIconLg:before {
	content: "\e61b";
	color: #652C90;
}
.numZeroIcon:before,.numZeroIconLg:before {
	content: "\e61c";
	color: #888A8C;
}
.openIcon:before,.openIconLg:before {
	content: "\e61d";
	color: #888A8C;
}
.plusIcon:before, .plusIconLg:before {
	content: "\e61e";
	color: #58ACFA;
}
.textIcon:before {
	content: "\e61f";
}
/*end web fonts*/




#collectionContainer{
	padding:100px 30px 0;
}

#orgHeader{
	background-color:#fff;
	font-family:'Roboto Slab',Georgia,serif;
	font-size:30px;
	height:60px;
	line-height:60px;
	padding:0 30px;
	overflow:hidden;
}

#projectHeader{
	background-color:#e6e6e6;
	box-shadow:0 2px 0 rgba(0,0,0,0.15);
	min-width:760px;
	padding:0 30px;
}

#projectHeader h1{
	color:#52595E;
	float:left;
	font-family:DINWebBold, "Trebuchet MS", sans-serif;
	font-size: .8em;
	line-height:38px;
	letter-spacing:-1px;
	margin:0;
	max-width:560px;
	padding:0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#projectHeader-links{
	float:right;
	padding-top:8px;
}

#projectHeader-links a{
	float:left;
}

h2{
	margin:30px 0 0;
}

#pageItem-container{
	padding:0;
	background-color: #ffffff;
	width: 100%;
	font-family:DINWebRegular, "Trebuchet MS", sans-serif;
	font-size: .8em;
}

.formItem{
	background:#fff;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	box-shadow:2px 2px 0 rgba(0,0,0,0.1);
	line-height:1.5em;
	margin-top: 0px;
	margin-bottom:20px;
	padding: 0px 0px 0px 0px;
	position:relative;
	/*width:720px;*/
	width:95%;
}
.formItem.formItem-text label{
	padding: 0px 0px 0px 0px;
}

.formItem-label{
	font-weight:bold;
	margin-bottom:12px;
}

.formItem-inputs{
	margin-top:12px;
	padding-left:15px;
}
.formItem-inputs legend{
	font-family:DINWebRegular, "Trebuchet MS", sans-serif;
	font-size: 1.3em;
}

.formItem-input{
	border:1px solid transparent;
	cursor:pointer;
	padding:3px 0;
	font-size:1.3em;
	font-family:DINWebLight, "Trebuchet MS", sans-serif;
}

.radioButton .formItem-input,.checkbox .formItem-input{
	padding-left:20px;
	text-indent:-18px;
}

#copyright{
	color:#bbb;
	font-size:13px;
	line-height:11px;
	padding:10px 30px;
	text-align:left;
}

#buttonNav{
	/*width:760px;*/
	width:80%;
}

.formItem.matrix{
	width:auto;
	/*min-width:720px;*/
	
	display:table;
}

.formItem.matrix .formItem-text{
	/*width:710px;*/
	width:90%;
	font-family:DINWebRegular, "Trebuchet MS", sans-serif;
	font-size: 1.3em;
}

.formItem.matrix .formItem-inputs thead th > div > span {
	margin-top:0px;
	padding-left:0;
	font-family:DINWebBold, "Trebuchet MS", sans-serif;
	font-size: .8em;
}

.matrix .formItem-inputs tbody tr th{
	font-family:DINWebLight, "Trebuchet MS", sans-serif;
	font-size: .8em;
}

/* *****
Rotate headers
****** */
.formItem.matrix .formItem-inputs thead th {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

.formItem.matrix .formItem-inputs thead th > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    -ms-transform rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    width: 30px;
}
.formItem.matrix .formItem-inputs thead th > div > span {
  padding: 5px 10px;
}
/* *****
end Rotate headers
****** */

.matrix table{
	table-layout:fixed;
	/*min-width:720px;*/
	
}

.matrix th,.matrix td{
	padding:12px 10px;
}

.matrix thead th{
	/*width:80px;
	width:60%;*/
	width: 30px;
	vertical-align:bottom;
}

.matrix thead tr{
	background:#d3eef9;
}

.matrix tbody th{
	text-align:left;
	position:relative;
	/*width:200px;
	min-width:200px;*/
	width:80%;
}

.matrix tbody td,.matrix tbody td input[type="radio"]{
	cursor:pointer;
}

.matrix tbody td input[type="text"],.matrix tbody td textarea{
	padding:4px 4%;
	max-width:90%;
	min-width:50%;
	width:auto;
}

.matrix tbody td .matrix-input{
	text-align:center;
	/*width:80px;*/
	width:60%;
	margin:0 auto;
}

.matrix tbody td .matrix-input label{
	display:block;
	margin-top:4px;
	font-size:11px;
}

.matrix tbody tr{
	border-bottom:1px solid #d3eef9;
}

.matrix tbody tr.alternate{
	background:#effaff;
}

.matrix tbody td:hover{
	background:#fffdda;
}

.formItem-input.dropdown{
	text-indent:0;
}

.formItem-input.dropdown .formItem-input-label{
	float:left;
	padding-right:10px;
	/*width:200px;*/
	width:90%;
}

.formItem-input.dropdown .formItem-input-input{
	float:left;
	/*width:200px;*/
	width:90%;
}

.formItem-input.dropdown .formItem-input-input select{
	max-width:200px;
}

.formItem.multiSelect .errorItem{
	margin-left:-15px;
}

.formItem.multiSelect .errorItem .formItem-input{
	padding:3px 15px;
}

.formItem.multiSelect .errorItem .formItem-input-input{
	padding-top:20px;
}

.formItem.multiSelect .matrixRow-error{
	margin-top:0;
}

.formItem input[type=text]{
	display:block;
	/*width:300px;*/
	width:90%;
}

.formItem textarea{
	display:block;
	width:95%;
}

.formItem.multiText .formItem-input{
	text-indent:0;
}

.formItem.errorItem,.formItem .errorItem{
	background:#FEF1EC;
	border:1px solid #CD0A0A;
}

.formItem-error{
	font-weight:bold;
	font-size:11px;
	line-height:normal;
	color:#CD0A0A;
}

.inputItem-error{
	font-weight:bold;
	font-size:11px;
	color:#CD0A0A;
	text-indent:0;
}

.matrix tr.errorRow,.matrix tr.alternate.errorRow{
	background:#FEF1EC;
	border:1px solid #CD0A0A;
}

.matrixRow-error{
	color:#CD0A0A;
	font-weight:bold;
	font-size:11px;
	margin-top:-8px;
}


input[type="textarea"],.textEntryAnswerSelection{
	resize: none;
	overflow: auto;
	width: 100%;
	height: 200px;
	font-size: .8em;
	font-family:DINWebLight, "Trebuchet MS", sans-serif;
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
	input[type="radio"],.answerSelection{
		-moz-border-radius:  50%;
		border-radius:  50%;
   		border: 1px;
		width: 3.6em;
		height: 3.6em;
	}
	.formItem.matrix .formItem-inputs thead th {
	  /* Something you can count on */
	  height: 340px;
	}
	input[type="textarea"],.textEntryAnswerSelection{
		height: 350px;
		font-size: 1.3em;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px){
	input[type="radio"],.answerSelection{
		-moz-border-radius:  50%;
		border-radius:  50%;
   		border: 1px;
		width: 3.6em;
		height: 3.6em;
	}
	.formItem.matrix .formItem-inputs thead th {
	  /* Something you can count on */
	  height: 340px;
	}
	input[type="textarea"],.textEntryAnswerSelection{
		height: 350px;
		font-size: 1.3em;
	}
}
